.container {
  width: 280px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  background-color: #f9f9f9;
}

.list {
  min-height: 45px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  background-color: #f3f3f3;
  border: solid 1px #ccc;
}

.list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box {
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  border-bottom: solid 1px #ccc;
}

.box:last-child {
  border: none;
}

.box .icon-delete {
  visibility: hidden;
}

.box:hover > .icon-delete,
.list-title > .icon-delete {
  visibility: visible;
  opacity: 0.5;
}

.box:hover > .icon-delete:hover,
.list-title:hover > .icon-delete {
  opacity: 1;
  cursor: pointer;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.custom-placeholder {
  background: #f9f9f9;
  min-height: 45px;
  border-bottom: solid 1px #ccc;
  transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.list.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
  transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.add-list {
  display: inline-block;
  width: 200px;
}